<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" class="ion-padding">
  <div>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item><br>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" size="large">Send</ion-button>
      </ion-col>
    </ion-row>
    <small style="color: black; font-size: medium; font-weight: 500;">
      Please provide the username or email address that you used when you signed
      up for your Evernote account.
    </small>
  </form>
</div>
</ion-content>